SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed
*/10 * * * * root /var/tmp/sync/dt_customer_relation.sh >> /var/tmp/logs/dt_customer_relation.log 2>&1
*/10 * * * * root /var/tmp/sync/dt_order.sh >> /var/tmp/logs/dt_order.log 2>&1
*/11 * * * * root /var/tmp/sync/dt_order_status.sh >> /var/tmp/logs/dt_order_status.log 2>&1
*/12 * * * * root /var/tmp/sync/dt_price.sh >> /var/tmp/logs/dt_price.log 2>&1
*/13 * * * * root /var/tmp/sync/mst_customer.sh >> /var/tmp/logs/mst_customer.log 2>&1
*/14 * * * * root /var/tmp/sync/mst_delivery.sh >> /var/tmp/logs/mst_delivery.log 2>&1
*/15 * * * * root /var/tmp/sync/mst_product.sh >> /var/tmp/logs/mst_product.log 2>&1
*/9 * * * * root /var/tmp/sync/mst_shipping.sh >> /var/tmp/logs/mst_shipping.log 2>&1
*/16 * * * * root /var/tmp/sync/stock_list.sh >> /var/tmp/logs/stock_list.log 2>&1
17 1 * * * root /var/tmp/sync/master_sync_everyday.sh >> /var/tmp/logs/master_sync_everyday.log 2>&1

