{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-navlistRole">
    <style>
        .ec-mypageRole .ec-navlistRole .ec-navlistRole__navlist {
            max-width: 500px;
        }
    </style>
    <ul class="ec-navlistRole__navlist">
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'approve1' %}active{% endif %}">
            <a href="{{ url('approve_return_1') }}">返品承認待ち</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'approve3' %}active{% endif %}">
            <a href="{{ url('approve_return_3') }}">返品完了待ち</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'approve5' %}active{% endif %}">
            <a href="{{ url('approve_return_5') }}">返品完了済</a>
        </li>
    </ul>
</div>

