{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <style>
        p {
            margin-bottom: 10px;
        }
        .ec-borderedDefs dl {
            margin: 10px auto;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社　XBRAID　JAPAN </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">運営責任者</label>
                        </dt>
                        <dd>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">住所</label>
                        </dt>
                        <dd>
                            〒550-0005<br/>
                            大阪市西区西本町1-7-21　ニシモトビル303号室
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>050-5526-8046</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">FAX番号</label>
                        </dt>
                        <dd>050-3385-5614</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="http://ecuoya.xbraid.net/" target="_blank">http://ecuoya.xbraid.net/</a></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">注文方法</label>
                        </dt>
                        <dd>本サイト上からご注文ください</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">販売価格</label>
                        </dt>
                        <dd>お手続き内容のご確認画面参照</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">支払方法</label>
                        </dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">支払期限</label>
                        </dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">引渡し時期</label>
                        </dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>
                            <p>ご返品を希望されるお客様は、上記お問い合わせ先 まで必ずご連絡下さい。<br>
                            ご連絡のない返品はお受けすることができませんので、ご了承ください。
                            </p>
                        
                            <p>ご返品いただけるのは、本サイトからご購入いただいた商品で未開封のものに限ります。返品の受付期間は商品が到着してから7日以内です。
                            </p>
                            <p>お客様の都合による返品の場合は送料はお客様のご負担とさせて頂きます。<br>
                            ＊返金金額は商品代金のみとなります。
                            </p>
                        
                            <p>弊社のミス、不良品の返品は送料弊社負担（着払いでご返品ください）とさせていただきます。<br>
                                返品前、および返品途中に商品を紛失された際には、弊社は責任を負いかねます。</p>
            
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">その他</label>
                        </dt>
                        <dd>
                            <p>ご提供頂きましたお客様の個人情報を弊社の業務遂行以外にのみ利用し、お客様のご同意を得ることなく第三者に開示する事はありません。</p>
                            <p>ただし、裁判所・警察機関など、公共機関からの提出要請があった場合には弊社の判断により適切な方法で第三者に開示する場合がありますので予めご了承願います。</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}