<div class="topContentColumn topNewitem">
    <div class="topContentInner">
        <div class="titleArea">
            <h2 class="fnDIN">NEW ITEM</h2>
            <span>新商品</span>
        </div>

        <div class="ec-newItemRole">
            <div class="ec-newItemRole__list">
                <div>
                    <a href="/products/list?category_id=84" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/UPGLEADERV12_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">エックスブレイド アップジーリーダーV12ハード</span><br>
                            X-BRAID UP-G LEADER V12 HARD
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>

                <div>
                    <a href="/products/list?category_id=135" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/D-PET_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">ｴｯｸｽﾌﾞﾚｲﾄﾞ ﾃﾞｨｰﾍﾟｯﾄ ｱｼﾞﾝｸ</span><br>
                            X-BRAID D-PET AJING
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>

                <div>
                    <a href="/products/list?category_id=136" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/s-pet1_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">ｴｯｸｽﾌﾞﾚｲﾄﾞ ｴｽﾍﾟｯﾄ ｱｼﾞﾝｸﾞ</span><br>
                            X-BRAID S-PET AJING
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>

                <div>
                    <a href="/products/list?category_id=132" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/DPETAREA_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">ｴｯｸｽﾌﾞﾚｲﾄﾞ ﾃﾞｨｰﾍﾟｯﾄ ｴﾘｱ</span><br>
                            X-BRAID D-PET AREA
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>

                <div>
                    <a href="/products/list?category_id=133" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/SP-1_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">ｴｯｸｽﾌﾞﾚｲﾄﾞ ｴｽﾍﾟｯﾄ ｴﾘｱ</span><br>
                            X-BRAID S-PET AREA
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>

                <div>
                    <a href="/products/list?category_id=134" style="color:#07c;" {% if not is_granted('ROLE_USER') %} class="disabled" style="pointer-events: inherit;" {% endif %} >
                        <div class="item-image">
                            <img src="/html/upload/save_image/hfa_1.jpg">
                        </div>
                        <p class="ec-newItemRole__listItemTitle">
                            <span style="font-size:68.75%;">ｴｯｸｽﾌﾞﾚｲﾄﾞ ﾊｲｴﾝﾄﾞﾌﾙｵﾛ ｴﾘｱ</span><br>
                            X-BRAID HIGHENDFLUORO AREA
                        </p>
                        {% if is_granted('ROLE_USER') %}
                            <span class="btn01" style="margin: 1em auto 0;"><i class="fas fa-angle-double-right"></i>and more</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*.ec-newItemRole .ec-newItemRole__list a {*/
    /*    width: 100%;*/
    /*}*/
    /*.ec-newItemRole .ec-newItemRole__list .item-image {*/
    /*    margin: auto;*/
    /*    height: 70%;*/
    /*    width: 90%;*/
    /*}*/
    /*.ec-newItemRole .ec-newItemRole__list p {*/
    /*    height: 70px;*/
    /*}*/
    /*.topNewitem .slick-initialized .slick-slide {*/
    /*    min-height: 500px;*/
    /*}*/
</style>

<script>
    $(function() {
        $('.ec-newItemRole__list').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            adaptiveHeight: true,
            swipeToSlide: true,
            dots: true,
            arrows: true,
            responsive: [{
                breakpoint: 1280,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },{
                breakpoint: 640,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }]
        });
    });
</script>
