<div class="topContentColumn topPickup">
    <div class="topContentInner">
        <div class="titleArea">
            <h2 class="fnDIN">PICK UP</h2>
            <span>おすすめ商品</span>
        </div>
        <ul>
            <li>
                <a href="/products/list?category_id=32" {% if not is_granted('ROLE_USER') %} class="disabled" {% endif %}>
                    <p class="title">エックスブレイド ウルトラ2マックスWX8</p>
                    <h2 class="title">XBRAID ULTRA2 MAX WX8</h2>
                    <div class="desc">
                        <div class="image">
                            <img src="/html/upload/save_image/ULTRA2MAXWX8.jpg">
                        </div>
                        <div class="text">
                            <h3 class="title">圧巻クオリティー</h3>
                            <h4 class="title">ハイテンション８ブレイド最高級 船ＰＥ ウルトラ２マックス</h4>
                            <p class="text">圧倒的パフォーマンスを持ち、絶大なる支持を獲得してきた弊社ウルトラ2PEをスーパーリファイン。独自技術であるハイテンションWX工法とHST加工により、強靭性と耐久性に磨きをかけ、グローバルスタンダードを見据えたプライスで国内投入。更に、イエロー/ブラックを基調としたマーカーシステムの採用と最新顔料による10m毎5カラーの見直しを図り、視認性を大きく向上しました。国内糸径規格を遵守し、ラインマニュファクチャーとしての強みを最大限生かした、次世代高強度ハイクオリティPEライン。</p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="btnArea">
                            <span class="btn01"><i class="fas fa-angle-double-right"></i>and more</span>
                        </div>
                    {% endif %}
                </a>
            </li>

            <li>
                <a href="/products/list?category_id=62" {% if not is_granted('ROLE_USER') %} class="disabled" {% endif %}>
                    <p class="title">エックスブレイド スーパージグマンX8</p>
                    <h2 class="title">XBRAID SUPER JIGMAN X8</h2>
                    <div class="desc">
                        <div class="image">
                            <img src="/html/upload/save_image/XBRAIDSUPERJIGMANX8.jpg">
                        </div>
                        <div class="text">
                            <h3 class="title">フルスペックスペシャル8ブレイド</h3>
                            <h4 class="title">多様化で問われる品質力、ジグマンを名乗るには訳がある。SUPER STRONG PE！for jigger！</h4>
                            <p class="text">フルスペック技術を惜しげもなく投入した、コストパフォーマンスの高いHigh Power PE ラインです。 圧倒的安定強力を約束する独自技術WX組工法を用い、ハイテンション高密度ピッチで製紐しHST加工を施すことにより、耐磨耗性・直線性・ 感度・強力を進化。 あらゆる近海スタイルに高次元で対応します。 XBRAIDブランドを纏った最新式スーパージグマン、テイストが違う。</p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="btnArea">
                            <span class="btn01"><i class="fas fa-angle-double-right"></i>and more</span>
                        </div>
                    {% endif %}
                </a>
            </li>

            <li>
                <a href="/products/list?category_id=81" {% if not is_granted('ROLE_USER') %} class="disabled" {% endif %}>
                    <p class="title">エックスブレイド アップグレードX8</p>
                    <h2 class="title">XBRAID UPGRADE X8</h2>
                    <div class="desc">
                        <div class="image">
                            <img src="/html/user_data/assets/img/top/topPickup03.jpg">
                        </div>
                        <div class="text">
                            <h3 class="title">世界最高糸質アップグレード</h3>
                            <h4 class="title">受け継がれた血統、木魂するスピリット ONE AND ONLY BEST, UPGRADE !</h4>
                            <p class="text">高密度ピッチ製法× WX8工法 × GP加工 × HST加工が可能とした圧巻のパフォーマンス。一般的にPEラインは、高密度にピッチを細かく組み上げると耐磨耗性が上がり直線強力が落ちる。逆に低密度でピッチを粗く組み上げると、糸が直線的になり直線強力が上がり耐磨耗が下がる。X-BRAID UPGRADは、その相反する性能の両方を世界最高レベルで実現し、(社)日本釣用品工業会釣糸部会制定の「PE糸の太さ標準規格」に準じたオールカテゴリーハイクオリティーハイパワーPEラインです。</p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="btnArea">
                            <span class="btn01"><i class="fas fa-angle-double-right"></i>and more</span>
                        </div>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</div>
